<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block extra_head %}
    <head>
        <meta charset="UTF-8">
        <title>Банково Плащане</title>
    </head>
{% endblock %}
<style>
    .table {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>
{% block content %}
    {#    <div class="container">#}
    {#        <h1>Банково Плащане</h1>#}
    {#    </div>#}

    {#    <style>#}
    {#        table, th, td {#}
    {#            border: 2px solid;#}
    {#            background: white;#}
    {#            text-align: center;#}
    {#            margin-left: auto;#}
    {#            margin-right: auto;#}
    {#            font-size: 25px;#}
    {##}
    {#        }#}
    {#    </style>#}
{#    <table id="table" data-layout="text-left">#}
{#        <tbody>#}
{#        <tr>#}
{#            <td colspan="2"><span>Име на получателя: </span>{{ bank.get_full_name }}</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2" class="c5o2hx68t">#}
{#                <div data-layout="row gutter-none start">#}
{#                    <div data-layout="col 12 8@md"><span>IBAN на получателя: </span>{{ bank.IBAN }}</div>#}
{#                    <div data-layout="col 12 4@md"><span>BIC на получателя: </span>{{ bank.BIC }}</div>#}
{#                </div>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2"><span>Банка на получателя: </span>{{ bank.bank_name }}</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><span>Сума: </span>{{ order.get_total }}лв.</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2"><span>Основание за плаща: </span>{{ order.reference_number }}</td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}

    {#    <a href="#"><button class="btn btn-primary btn-block btn-lg" id="submitBtn">Приключи Поръчката</button></a>#}
    <a href="#"><input type="submit" class="btn btn-primary btn-lg btn-block" value="Приключи Поръчката"/></a>


    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 class="h3 mb-3 text-black">Банково Плащане</h2>
                </div>
                <div class="col-md-7">
                    <table data-layout="text-left">
                        <tbody>
                        <tr>
                            <td colspan="2"><span>Име на получателя: </span>{{ bank.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="c5o2hx68t">
                                <div data-layout="row gutter-none start">
                                    <div data-layout="col 12 8@md"><span>IBAN на получателя: </span>{{ bank.IBAN }}
                                    </div>
                                    <div data-layout="col 12 4@md"><span>BIC на получателя: </span>{{ bank.BIC }}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><span>Банка на получателя: </span>{{ bank.bank_name }}</td>
                        </tr>
                        <tr>
                            <td><span>Сума: </span>{{ order.get_total }}лв.</td>
                        </tr>
                        <tr>
                            <td colspan="2"><span>Основание за плаща: </span>{{ order.reference_number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>

