{% load crispy_forms_tags %}

<body>
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 class="h3 mb-3 text-black">Търсете продукти</h2>
                </div>
                <div class="col-md-7">
                    <form method="GET" action="{% url 'cart:search_products' %}">
                        <input type="text" name="q" placeholder="Търсете продукти...">
                        <button type="submit">Търси</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>