{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block content %}
    <h1>{% trans "Имейл Адреси" %}</h1>
{% if user.emailaddress_set.all %}
<p>{% trans 'Тези имейл адреси принадлежат към акаунта:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}Основен имейл{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">{% trans "Проверен" %}</span>
    {% else %}
    <span class="unverified">{% trans "Непроверен" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Основен" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="secondaryAction" type="submit" name="action_primary" >{% trans 'Направи основен' %}</button>
      <button class="secondaryAction" type="submit" name="action_send" >{% trans 'Изпрати отново потвърждение' %}</button>
      <button class="primaryAction" type="submit" name="action_remove" >{% trans 'Премахни' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Внимание:'%}</strong> {% trans "В момента нямата зададен имейл адрес. Препоръчително е да си доабите имейл адрес, за да получавате известия, имайли за смана на паролата и т.н." %}</p>

{% endif %}


    <h2>{% trans "Доабавете Имйел адрес" %}</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="action_add" type="submit">{% trans "Добавете имейл" %}</button>
    </form>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Наистина ли искате да премахнете избраният имейл адрес?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
