{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Изход" %}{% endblock %}

{% block content %}


    <div class="my_class">
        <h1>{% trans "Изход" %}</h1>

        <p>{% trans 'Сигурни ли сте, че искате да излезете от профила си?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans 'Изход' %}</button>
        </form>
    </div>

{% endblock %}
