{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Смяна на паролата" %}{% endblock %}

{% block content %}

        <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                        <h1>{% trans "Смяна на паролата" %}</h1>
                </div>
                <div class="col-md-7">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Смяна на парола"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
