{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Възстановяване на паролата" %}{% endblock %}

{% block content %}
    <h1>{% trans "Възстановяване на паролата" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Изпратихме Ви имейл с новата Ви парола. Свържете се с нас ако не получите имейл до няколко минути.{% endblocktrans %}</p>
{% endblock %}
