{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Смяна на паролата" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Лош ключ" %}{% else %}{% trans "Сменете паролата си" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Линкът за смяна на паролата е невалиден, възможно е вече да е използван.  Моля поискайте нов <a href="{{ passwd_reset_url }}">линк</a> за смяна на паролата.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'смяна на паролата' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Вашата парола е сменена.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
