{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Потвърдете имейл адреса си" %}{% endblock %}

{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 class="h3 mb-3 text-black">Потвърдете имейл адреса си</h2>
                    {% url 'account_email' as email_url %}
                </div>
                <div class="col-md-7">
                    <p>Тази част от сайта изисква от нас да проверим дали Вие сте този, за който се
                        представяте. За тази цел искаме от Вас да потвърдите, че Вие сте този, за който се представяте
                        чрез имейл.</p>

                    <p>Ние Ви изпратихме имейл за потвърждение на посоченият от вас. Моля натиснете
                        върху линка в имейла. Свържете се с нас ако не получите имейл до няколко
                        минути.</p>

                    <p><strong>Забележка:</strong> Вие можете да
                        <a href="{{ email_url }}">промените имейл адреса си</a>.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
