{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Потвърдете вашият имейл адрес" %}{% endblock %}

{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1>Потвърдете вашият имейл адрес</h1>
                    <p class="mb-3 text-black">Изпратихме Ви имейл за потвърждеие на вашият имейл адрес. Натиснете
                        линка, за да довършите регистрацията си. Свържете се с нас ако не получите имейла до няколко
                        минути.</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
