{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Потвърдете имейл адреса си" %}{% endblock %}

{% block content %}
<h1>{% trans "Потвърдете имейл адреса си" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Тази част от сайта изисква от нас да проверим дали Вие сте този, за който се представяте. За тази цел искаме от Вас да потвърдите, че Вие сте този, за който се представяте чрез имейл {% endblocktrans %}</p>

<p>{% blocktrans %}Ние Ви изпратихме имейл за потвърждение на посоченият от вас. Моля натиснете върху линка в имейла. Свържете се с нас ако не получите имейл до няколко минути.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Забележка:</strong> Вие можете да <a href="{{ email_url }}">промените имейл адреса си</a>.{% endblocktrans %}</p>


{% endblock %}
