asgiref==3.6.0
autopep8==1.4.4
crispy-bootstrap4==2022.1
Django==3.2.20
django-admin-thumbnails==0.2.6
django-allauth==0.45.0
django-ckeditor==6.1.0
django-cleanup==5.2.0
django-countries==5.5
django-crispy-forms==2.0
django-dotenv==1.4.2
django-environ==0.9.0
django-extramimetypes==0.1.0
django-js-asset==2.0.0
django-storages==1.13.2
django-utils==0.0.2
emails==0.6
fontstyle==1.0.1.2
freeze-requirements==0.5.3
path==16.7.1
pdfkit==1.0.0
Pillow==9.4.0
psycopg2==2.9.5
psycopg2-binary==2.9.6
python-dotenv==1.0.0
python-gettext==4.0
reportlab==4.0.4
secure-smtplib==0.1.1
sqlparse==0.4.1
virtualenv==20.23.1
Zope==5.5.2
Zope2==4.0