{% extends 'base.html' %}
{% load crispy_forms_tags %}

<body>
{% block content %}
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 class="h3 mb-3 text-black">Редактиране на фирмата</h2>
                </div>
                <div class="col-md-7">
                    <form method="POST" action="{% url 'edit-firms' firm.id %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Редактирай"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


</body>
</html>