<footer class="site-footer border-top">
    <div class="container">
        <div>
            <a href="https://www.facebook.com/kasoviaparatiprofinansdeood"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | Този уебсайт е създаден с Джанго
                </p>
            </div>
        </div>
    </div>
</footer>