<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Facture pdf</title>
    <script src="../static/js/jsPDF-2.5.1/jspdf.umd.min.js"></script>

</head>
<body>

<button id="generatePDF">Generate PDF</button>

<div id="content">
    <h1>My PDF Content</h1>
    <p>This is a paragraph in the PDF.</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('generatePDF').addEventListener('click', function () {
            // Define the jsPDF object
            var doc = new jsPDF();

            // Get the content to convert
            var content = document.getElementById('content');

            // Generate PDF from HTML content
            doc.fromHTML(content, 15, 15, {
                'width': 170
            });

            // Save the generated PDF
            doc.save('generated.pdf');
        });
    });
</script>

</body>
</html>